:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 40px;
  width: 100%;
  text-align: center;
  /* border-top: 1px solid #333;
  border-bottom: 1px solid #333; */
  margin-top: 100px;
  font-weight: 400;
  margin-bottom: 26px;
  line-height: 1.1;
}
h1 span {
  /* color: #aaa; */
  /* font-weight: bold; */
}

#svg-container {
  /* border: 1px solid red; */
  width: 95%;
  max-width: 1080px;
  height: 630px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  #svg-container {
    height: 680px;
  }

  h1 {
    font-size: 36px;
    margin-top: 80px;
  }
}
